<p>
    Hello {{ username }}
</p>
<br>
<p>Your account has been created successfully, to verify your account open the link below.</p>

<p><a href="{{ url(verify_path[0],verify_path[1]) }}">{{ url(verify_path[0],verify_path[1]) }}</a></p>
<p>
--
<p>Regards</p>
<p><strong>Askfm.com</strong></p>
</p>